<p>Hey!</p>

<p>You have been referred to Mobilise Digital by <%= @user.first_name %> <%= @user.last_name %></p>
<p class="text-center"><a href="https://members.mobilise.digital/sign_up">Sign up now</a></p>
<p>Ensure you sign up with this email, or ask <%= @user.first_name %> to refer you with a different email address.</p>




