<p>Hey <%= @referral.user.first_name %></p>

<p>Someone you referred to Mobilise Digital has just signed up. Check your <a href="https://members.mobilise.digital/dashboard">dashboard</a> to see the status of your referrals.</p>





