<div class="section header">
  <div class="row full-height">
    <%= render partial: 'layouts/brand_half_page' %>
    <div class="col-lg-6 confirmation text-center">
      <%= render partial: 'layouts/alerts' %>
      <img src="../assets/man-on-rocket.png">
      <h2>Success!</h2>
      <h3>Check your email for the next steps.</h3>
      <h4>Not received an confirmation email? <a href="/confirmation/new">Click here</a> to reconfirm your email</h4>
    </div>
  </div>
</div>