<div id="fullpage" >
  <div class="section header">
    <div class="row global-nav justify-content-end">
      <%= render partial: 'layouts/nav' %>
    </div>
    <div class="row full-height">

      <div class="col brand text-center">
        <h2>Manage Users</h2>
      </div>

    </div>
  </div>
</div>