<div id="fullpage" >
  <div class="section header">
    <div class="row global-nav justify-content-end">
      <%= render partial: 'layouts/nav' %>
    </div>
    <div class="row full-height">



        <div class="col-lg-6 brand text-center">
          Hello
        </div>
        <div class="col-lg-6">
          World
        </div>

    </div>
  </div>
</div>