@import "variables";

.footer {
  min-height: 140px;
  background: $gray-gradient;
  color: $brandprimary;
  h4 {
    margin-bottom: 30px;
  }
  .brand-logo {
    width: 100%;
    max-width: 250px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      margin-bottom: 1rem;
    }
    a {
      text-decoration: none;
      color: $brandprimary;
    }
    a:hover {
      font-weight: 600;
    }
  }
  ul.compact {
    li {
      margin-bottom: 0;
    }
  }
}