@import "variables";


.footer {
  min-height: 140px;
  background: $gray-gradient;
  color: $whiteink;
  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    a{
      text-decoration: none;
      color: $whiteink;
    }
    a:hover{
      font-weight: 600;
    }
  }
}