@import "variables";
/* Make images responsive*/
.col-md-6 img {
    max-width: 40%;
    max-height: 100%;
    max-height: 700px;
}
.first-image img{
    height:200px;
}

/*Define Background Colours*/
/*also colours for fonts*/
.background-bluegrad{
    background-color: #2193b0;
    background-image: -moz-linear-gradient(120deg, #2193b0 0%, #6dd5ed 100%);
    background-image: -webkit-linear-gradient(120deg, #2193b0 0%, #6dd5ed 100%);
    background-image: -ms-linear-gradient(120deg, #2193b0 0%, #6dd5ed 100%);
    background-image: linear-gradient(120deg, #2193b0 0%, #6dd5ed 100%);
    color: $whiteink;
}
.background-bluegrad a i{
    color: $whiteink;
}
.background-black{
    background-color: $ink;
    background: $black-gradient;
    color: $whiteink;
}
.background-tomato{
    background-color: tomato;
    color: $whiteink;
}
.background-orange{
    background-color: orange;
    background: $orange-gradient;
    color: $whiteink;
}
.background-purple{
    background-color: rebeccapurple;
    background: $purple-gradient;
    color: $whiteink;
}
.background-cyan{
    background-color: darkcyan;
    color: white;
}
.background-white{
  background-color: white;
  background: $white-gradient;
  color: $ink2;
}

/*Padding around columns*/
.row{
    padding: 2.5rem;
}