@import "variables";

body {
  font-family: 'Raleway', sans-serif;
}

.full-height {
  min-height: 100vh;
  padding: 0;
}
.full-width {
  width: 100vw;
}

.brand {
  color: $whiteink;
}
.brand-logo {
  max-width: 250px;
}

.white-grad {
  background: $white-gradient;
}
.blue-grad-2 {
  background: $blue-gradient-2;
}
.blue-grad-2-r {
  background: $blue-gradient-2-r;
}
.blue-grad-3 {
  background: $blue-gradient-3;
}
h3.column-title{
  padding-top: 1rem;
}

.detail-section {
  .detail-inner{
    background-color: $blue-transparent;
    border-radius: 25px;
    h6 {
      margin-bottom: 0;
      margin-top: 0.5em;
    }
    h5 {
      color: $ink2;
    }
    h4 {
    }
  }


}
.agreement-page {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}
.agreement-content {
  margin-top: 10px;
  margin-left: 0;
  margin-right: 0;
  p {
    text-align: justify;
  }
  iframe {

  }
  //max-width: 80%;
}
@media (min-width: 992px) {
  .agreement-content {
    margin-top: 56px;
    iframe {
      width: 560px;
      height: 315px;
    }
  }
  .pos-fixed {
    position:fixed;
  }
  .half-width{
    width: 50vw;
  }
}
.pos-fixed {

  text-align: center;
}
