@import "variables";

body {
  font-family: 'Raleway', sans-serif;
}

.full-height {
  min-height: 100vh;
  padding: 0;
}
.full-width {
  width: 100vw;
}
h3.column-title{
  padding-top: 1rem;
}

.detail-section {
  h6 {
    margin-bottom: 0;
    margin-top: 0.5em;
  }
  h5 {
    color: $gray;
  }
}