@import "variables";


/*$aws:null;
$azure:null;
$gcp:null;
$devops:null;
$k8s:null;
$python:null;
$ruby:null;
$ansible:null;
$terraform:null;

.aws {$aws: orange;}
.azure {$azure: blue;}
.gcp {$gcp: green;}
.devops {$devops: black;}
.k8s {$k8s: skyblue;}
.python {$python: lightgreen;}
.ruby {$ruby:red;}
.ansbile {$ansible:pink;}
.terraform {$terraform:gray;}


$card-gradient: linear-gradient(to top left, $aws, $azure, $gcp, $devops, $k8s, $python, $ruby, $ansible, $terraform );*/


.card-index {
  background: $blue-gradient-2;;

  .row {
    padding: 0;
  }
}
  .card.job-card {
    margin: 15px;
    max-width: 100%;
    border: 0;
    border-radius: 15px;
    background: $gray-gradient;
    color: $whiteink;

    .card-header {
      border: 0;
    }

    .card-body {
      .card-title {
        text-align: center;
      }
    }

    .card-footer {
      background: rgba(0, 0, 0, 0);
      border: 0;
      color: $whiteink;
      border-radius: 25px;

      small.text-muted {
        color: $gray !important;
      }
    }

    p {
      margin: 0;
    }
  }

@media (min-width: 576px){
  .card-index {
    .row {
      margin-left: 5px;
      margin-right: 5px;
      padding: 0 2.5rem 2.5rem 2.5rem;
        .card.job-card{
          min-width: 360px;
        }
      }
    }
  .dashboard-cards {
    .card.job-card {
      min-width: 300px;
    }
  }
}
