@import "variables";

#fullpage .section{
  padding: 0 !important;
}

.brand-0 {
  font-family: $brand-font;
}
.brand-1 {
  //Mobilise Digital heading font
  font-family: $brand-font-1;
}
.brand-2 {
  //Mobilise Cloud logo font
  font-family: $brand-font;
  letter-spacing: 0;
}
.brand-4 {
  //Mobilise Digitial monogram font
  font-family: $brand-font-4;
}
h2 {
  font-family: $heading-font;
  font-weight: 600;
}
h3 {
  font-family: $heading-font;
  font-weight: 300;
  font-size: 1.2rem;
}
.section.header {
  .brand {
    background-color: $brandprimary;
    color: $whiteink;
  }
  .welcome{
    color: $whiteink;
    background: $gray-gradient;
    img {
      height: 6rem;
    }
    h2 {
      padding-top: 15px;
      font-family: $brand-font;
    }
    h4 {
      font-family: $font;
      font-weight: 100;
      font-size: 0.8rem;
    }
    .buttons {
      padding-top: 1rem;
    }
    .btn {
      color: var(--white);
      box-shadow: 6px 4px 8px 0px rgba(0,0,0,0.4);
    }
    .btn:hover{
      color: var(--ink-light);
      box-shadow: none;
      transition: all 0.2s;
    }
    h3 {
      margin-top: 1rem;
      margin-bottom: -2.5rem;
    }
    i {
      color: $whiteink;
    }
  }
}

@media (min-width: 992px) {
  h2 {
    font-size: 60px;
  }
  h3 {
    font-size: 25px;
  }
  .section.header {
    .brand {
      padding:0;
      img {
        min-width: 300px;
        padding-top: 150px;
      }
      h1 {
        font-size: 260px;
        padding-top: 150px;
        letter-spacing: -0.15em;
        margin-left: -0.15em;
      }
      .brand-1 {
        letter-spacing: 0.2em;
      }
      .main-page-nav {
        padding: 0.6rem;
        width: 100%;
        margin: 0;
        background: $orange-gradient;
        .nav-link{
          text-decoration: none;
          color:$whiteink;
          font-weight: 700;
        }
        .nav-data {
          font-weight: 200;
          padding: 0.5rem;
        }
        .admin {
          color: $ink;
        }
        .admin:hover {
          color:$whiteink;
        }
        .jobs:hover {
          color: $purple;
        }
        .edit-profile:hover{
          color: $brandprimary;
        }
        .logout:hover {
          color: $ink2;
        }
      }
    }

    .welcome {
      img {
        height: 12.5rem;
        margin-top: 50px;
      }
      h2 {
        padding-top: 160px;
      }
      h4 {
        font-size: 1.1rem;
        padding-left: 50px;
        padding-right: 50px;
      }
      .buttons {
        padding-top: 20px;
      }
      h3 {
        margin-top: 20px;
        margin-bottom: -40px;
      }
    }
  }
}
