@import "variables";
.global-nav{
    padding: 0.6rem;
    width: 100%;
    margin: 0;
    background: $purple-gradient;
.nav-link{
    text-decoration: none;
    color:$whiteink;
    font-weight: 700;
}
.nav-data {
    font-weight: 200;
    padding: 0.5rem;
    display:none;
}
.admin {
    color: $ink;
}
.admin:hover {
    color:$whiteink;
}
.jobs:hover {
    color: $purple;
}
.edit-profile:hover{
    color: $brandprimary;
}
.logout:hover {
    color: $ink2;
}
}
@media (min-width: 992px) {
    .global-nav {
        .nav-data {
            display: block;
        }
    }
}