@import "variables";

.global-nav {
  .row {
    padding: 0.6rem;
    width: 100%;
    margin: 0;
    background: $orange-gradient;
  }

  .nav-link {
    text-decoration: none;
    color: $whiteink;
    font-weight: 700;
  }

  .nav-data {
    font-weight: 200;
    padding: 0.5rem;
    display: none;
    color: $whiteink;
  }

  .admin {
    color: $brandprimary-darker;
  }

  .admin:hover {
    color: $whiteink;
  }

  .jobs:hover {
    color: $brandprimary-darker;
  }

  .edit-profile:hover {
    color: $brandprimary;
  }

  .logout:hover {
    color: $brandprimary-darker;
  }
}

@media (min-width: 992px) {
  .global-nav {
    .nav-data {
      display: block;
    }
  }
}