$font: "Raleway", sans-serif;
$heading-font: "Montserrat Alternates", sans-serif;
$brand-font: "Audiowide";
$brand-font-1: "Iceland";
$brand-font-4: "Wallpoet";



$brandprimary: #1f419b;
$brandprimary-darker: #0b2361;
$brandsecondary: #85929E;
$ink: #070D20;
$gray-gradient: linear-gradient(to top left, #485563, #29323c);