@font-face {  font-family: 'Neris-Light';  src: font-url('39C0AD_0_0.eot');  src: font-url('39C0AD_0_0.eot?#iefix') format('embedded-opentype'), font-url('39C0AD_0_0.woff2') format('woff2'), font-url('39C0AD_0_0.woff') format('woff'), font-url('39C0AD_0_0.ttf') format('truetype');  }
@font-face {  font-family: 'Neris-SemiBold';  src: font-url('39C0AD_1_0.eot');  src: font-url('39C0AD_1_0.eot?#iefix') format('embedded-opentype'), font-url('39C0AD_1_0.woff2') format('woff2'), font-url('39C0AD_1_0.woff') format('woff'), font-url('39C0AD_1_0.ttf') format('truetype');  }
@font-face {  font-family: 'Neris-Thin';  src: font-url('39C0AD_2_0.eot');  src: font-url('39C0AD_2_0.eot?#iefix') format('embedded-opentype'), font-url('39C0AD_2_0.woff2') format('woff2'), font-url('39C0AD_2_0.woff') format('woff'), font-url('39C0AD_2_0.ttf') format('truetype');  }
@font-face {  font-family: 'Neris-ThinItalic';  src: font-url('39C0AD_3_0.eot');  src: font-url('39C0AD_3_0.eot?#iefix') format('embedded-opentype'), font-url('39C0AD_3_0.woff2') format('woff2'), font-url('39C0AD_3_0.woff') format('woff'), font-url('39C0AD_3_0.ttf') format('truetype');  }
@font-face {  font-family: 'Neris-Black';  src: font-url('39C0AD_4_0.eot');  src: font-url('39C0AD_4_0.eot?#iefix') format('embedded-opentype'), font-url('39C0AD_4_0.woff2') format('woff2'), font-url('39C0AD_4_0.woff') format('woff'), font-url('39C0AD_4_0.ttf') format('truetype');  }

$font: "Raleway", sans-serif;
$heading-font: "Neris-Black", sans-serif;
$brand-font: "Neris-Black";
$brand-font-1: "Press Start 2P";

$blue:#1f419b;
$blue-darker:#0b2361;
$blue-highlight:#1CB5E0;

$orange:#F28123;
$orange-darker:#D34E24;

$purple: #7261A3;
$purple-medium: #712F79;
$purple-darker: #330867;

$whiteink: #fdfbfb;
$ink: #000011;
$ink2: #070D20;
$black: #000000;
$gray: #85929E;

$brandprimary: $blue;
$brandprimary-darker: $blue-darker;
$brandhighlight: $blue-highlight;

$brandsecondary: $orange;
$brandsecondary-darker: $orange-darker;

$purple-gradient: linear-gradient(to top left, $purple, $purple-medium, $purple-darker);
$blue-gradient: linear-gradient(to top left, $brandhighlight, $brandprimary, $brandprimary-darker);
$blue-gradient-2: linear-gradient(to bottom left, $brandhighlight, $brandprimary, $blue-darker, #000046);
$blue-gradient-2-r: linear-gradient(to bottom right, $brandhighlight, $brandprimary, $blue-darker, #000046);
$white-gradient: linear-gradient(to top left, $brandhighlight, $whiteink);
$orange-gradient: linear-gradient(to top left, $brandsecondary, $brandsecondary-darker);
$gray-gradient: linear-gradient(to top left, #485563, #29323c);
$black-gradient: linear-gradient(to top left, $ink2, $ink, $black);
$black-gradient-2: linear-gradient(to top left, $ink2, #29323c);