<div id="fullpage">
  <div class="section header agreement-page">

    <% if user_signed_in? %>
      <div class="global-nav">
        <div class="row justify-content-end">
          <%= render partial: 'layouts/nav' %>
        </div>
      </div>
    <% end %>
    <div class="row full-height full-width">
      <%= render partial: 'layouts/brand_half_page' %>

      <div class="col-lg-6 agreement-content text-center">
        <%= render partial: 'layouts/alerts' %>
        <h2>Job Alert Emails</h2>
        <p>Every so often, Mobilise Digital will want to keep in touch with our members via email about upcoming events, market information and technology blogs.</p>
        <p>If you would like to be kept in touch regarding the news, developments, etc please let us know and we shall ensure you are included on our mailing list.</p>
        <p>If you do not wish to receive any further correspondence from our marketing team, please let us know.</p>
        <p>You can also respond to any emails with ‘Stop’ to remove your name from our mailing list.</p>

        <h2>Marketing Emails</h2>
        <p>In order for our members to take full advantage of the Mobilise Digital, we will need to keep in touch with you regarding upcoming roles and projects. The emails you shall receive will be specific to you and the roles you are suitable for. </p>
        <p>In order for us to keep in contact with you via email, please tick the box on the sign up page to agree.</p>

      </div>


    </div>
  </div>
  <%= render partial: 'layouts/footer' %>
</div>