<div id="fullpage">
  <div class="section header agreement-page">

    <% if user_signed_in? %>
      <div class="global-nav">
        <div class="row justify-content-end">
          <%= render partial: 'layouts/nav' %>
        </div>
      </div>
    <% end %>
    <div class="row full-height full-width">
      <%= render partial: 'layouts/brand_half_page' %>

      <div class="col-lg-6 agreement-content text-center">
        <%= render partial: 'layouts/alerts' %>
        <h2>Job Alert Emails</h2>
        <p>Info Coming soon</p>

        <h2>Marketing Emails</h2>
        <p>Info Coming soon</p>

      </div>


    </div>
  </div>
  <%= render partial: 'layouts/footer' %>
</div>