<% if flash[:notice] %>
  <div class="flash alerts text-center">
    <p class="notice alert alert-light">
      <%= flash[:notice] %>
    </p>
  </div>
<% end %>


<% if flash[:alert] %>
  <div class="flash alerts text-center">
    <p class="alert alert-danger">
      <%= flash[:alert] %>
    </p>
  </div>
<% end %>