<% if flash[:notice] %>
  <div class="alerts text-center">
    <p class="notice">
      <%= flash[:notice] %>
    </p>
  </div>
<% end %>


<% if flash[:alert] %>
  <div class="alerts text-center">
    <p class="alert text-danger">
      <%= flash[:alert] %>
    </p>
  </div>
<% end %>