<div class="col-lg-6 brand blue-grad-2">
  <div class="mx-auto pos-fixed" >
    <div class="text-center half-width">
      <img class="brand-logo" src="../assets/mobilise-digital-logo.png">
      <h4 class="brand-0">Your 'non-agency' people</h4>
    </div>
  </div>
</div>