<div class="col-lg-6 brand text-center">
  <!--        <img src="assets/md-logo-white-cropped.png">-->
  <h1 class="brand-4">MD</h1>
  <h2 class="brand-1"><span class="brand-2">mobilise</span>.Digital</h2>
  <h3 class="brand-1">Your 'non-agency' people</h3>

</div>