<div class="col-lg-6 brand blue-grad-2">
  <div class="mx-auto pos-fixed" >
    <div class="text-center half-width">
      <%= image_tag("mobilise-digital-logo.png", :alt => "Mobilise Digital Logo", :class => "brand-logo" ) %>
    </div>
  </div>
</div>