<footer class="footer mt-auto p-2">
  <div class="row">
    <div class="col-md-4">
      <h4>
        <span class="brand-0">mobilise</span>
        <span class="small brand-1">Digital</span>
      </h4>
      <h4 class="brand-0">Your 'non-agency' people</h4>
    </div>
    <div class="col-md-4">
      Footer
    </div>
    <div class="col-md-4">
      <ul>
        <li>!About Us!</li>
        <li>!FAQ!</li>
        <li><%= link_to 'Email Terms', email_terms_path%></li>
        <li><%= link_to 'Website Terms', website_terms_path %></li>
        <li><%= link_to 'GDPR', gdpr_path %></li>
      </ul>
    </div>
  </div>
</footer>